{% extends "base.html" %} {% block head %}
<title>About Me</title>
<style>
  .about-section {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: #fff;
    padding: 50px 20px;
    border-radius: 15px;
  }

  .about-section h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .about-section p {
    font-size: 1.2rem;
    line-height: 1.8;
  }

  .about-section ul {
    padding-left: 0;
    list-style-type: none;
  }

  .about-section ul li a {
    color: #fff;
    text-decoration: none;
  }

  .about-section ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
  }
</style>
{% endblock %} {% block body %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="about-section text-center shadow">
        <h1>About Me</h1>
        <p>
          Hi, I’m <strong>Adel Mohamed</strong>, a passionate developer with a
          love for crafting innovative solutions. I specialize in Machine
          learning engineering and AI tasks, in addition to a light knowldge in
          other software fields and thrive on solving real-world challenges
          through technology.
        </p>
        <p>
          Over the years, I've worked on projects ranging from prediction
          systems, classification and clustering, preparing for NLP and CV
          tasks. My goal is to keep learning, creating, and inspiring through
          technology.
        </p>

        <h3 class="mt-4">Get in Touch</h3>
        <ul class="list-unstyled mt-3">
          <li>
            <a
              href="https://github.com/AdelMohamed10"
              class="text-black"
              target="_blank"
            >
              <i class="fab fa-github"></i> GitHub
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/adel-mohamed-231660275?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
              class="text-black"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i> LinkedIn
            </a>
          </li>
          <li>
            <a href="adelmohamed21010@gmail.com" class="text-black">
              <i class="fas fa-envelope"></i> Gmail
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
